footer {
    margin-top: auto;
}

body {
    /*font-family: Poppins, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}

.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important;
}

.card .card-header {
    background-color: #6f828e;
}

.page-link {
    color: #4e565c!important;
}

.page-link:hover {
    color: #fff!important;
    background-color: #343a40!important;
}

.active .page-link {
    border-color: #343a40!important;
    color: #fff!important;
    background-color: #343a40!important;
}

.btn-primary {
    color: #fff!important;
    background-color: #343a40!important;
    border-color: #343a40!important;
    font-weight: 500!important;
    transition: all .5s ease 0s;
}

.btn-primary:hover {
    background-color: #4e565c!important;
    border-color: #4e565c!important;
}

.list-group .active{
    background-color: #e9ecef!important;
    border-color: #e9ecef!important;
}

.list-group .active a {
    font-weight: 600;
}

.small-image-container{
    width: 50px;
    height: 50px;
}

.small-image-container img{
    width: 100%;
    height: 100%;
}

.toast-body span {
    font-size: 17px;
}

.tab-page {
    border-left:1px solid #e4e9ef;
    border-right:1px solid #e4e9ef;
    border-bottom:1px solid #e4e9ef;
}
#sign-in {
   height: 62vh;

}

.thead-dark {
    background-color: #343a40!important;
}

.total-cart {
    font-size: 23px;
    font-weight: 800;
}

.text-cart {
    font-size: 18px;
    font-weight: 600;
}

.nav-tabs a {
    color: rgba(0,0,0,0.7);
    font-weight: 600;
    font-size: 20px;
}

.nav-tabs a:hover {
    color: rgba(0,0,0,0.5);
}

.nav-tabs .active {
    color: rgba(0,0,0,0.9);
}

.order-main-header li {
    color: rgba(0,0,0,0.9);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}


.order-header li {
    color: rgba(0,0,0,0.9);
    font-weight: 500;
    font-size: 17px;
    text-align: center;
}

.order-header:hover {
    color: rgba(0,0,0,0.5);
}

select option {
    font-weight: 500;
}

select {
    font-weight: 500;
}

.delivery li {
    text-align: center;
}

.add-footwear-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: center;
    z-index: 999;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #343a40;
    transition: all 1s ease 0s;
    padding: 2px 5px;
    color: #343a40;
    position: fixed;
    bottom: 10vh;
    right: 10vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.add-footwear-btn:hover {
    color: #fff;
    background-color: #6f828e;
    border: 2px solid #6f828e;
    text-decoration: none;
}








